/*
tap khai bao dinh dang cho ho so nhan vien xml: 
d03_emploee_css.xml
*/

*{
    font-family: Arial;
    font-size: 14px;
    color: brown;
}

company, com-name, com-add, com-tel{
    display: block;
    margin-top: 5px;
    margin-left: 20px;
    color: green;
    font-weight: bold;
    font-size: 1.1em;
}
com-name{
    margin-top: 20px;
    color: red;
    font-size: 1.4em;
}

department{
    display: block;
    margin: 20px;
}

dep-name, manager{
    font-style: italic;
    font-family: cursive;
    font-size: 1.1em;
    display: block;
    text-indent: 20px;
    color: blue;
}

employees{
    display: table;
    margin-top: 10px;
    border: solid thin chocolate;
}
employee{
    display: table-row;
}
name, gender, dob, salary, position{
    display: table-cell;
    padding: 5px 25px 3px 20px;
}

salary{text-align: right;}